body {
  font-family: sans-serif;
  text-align: center;
  color: var(--font-color);
  text-transform: uppercase;
  overflow: hidden;
  background: linear-gradient(90deg, var(--main-color) 0%, var(--second-color) 100%);
}
.light-theme {
  --font-color: #2b466d;
  --hover-color: #aceae8;
  --main-color: #919fb3;
  --second-color: #5e94d4;
  --board-color-1: #429bc5;
  --board-color-2: #6c7c86;
}
.dark-theme {
  --font-color: #fff;
  --hover-color: #52b7ae;
  --main-color: #2c3138;
  --second-color: #384452;
  --board-color-1: #151619;
  --board-color-2: #38424a;
}
.up {
  margin: -100vh 0 0 0;
}
.hide {
  opacity: 0;
  visibility: hidden;
}
.title {
  font-size: 40px;
  letter-spacing: 3px;
  margin: 0 0 10px 0;
}
.btn {
  transition: 0.3s ease color 0s;
}
.full-screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-out margin 0s;
  background: inherit;
}
.welcome {
}
.welcome__title {
}
.welcome__start-btn {
  font-size: 35px;
  letter-spacing: 4px;
  color: inherit;
}
.game-manu {
}
.game-manu__title {
  margin: 0 0 50px 0;
}
.game-manu__actions {
  display: flex;
  margin: 0 0 100px 0;
}
.game-manu__time-btn {
  font-size: 20px;
  padding: 10px 20px;
  border: 3px var(--font-color) solid;
  color: var(--font-color);
  border-radius: 3px;
  margin: 0 10px;
  transition: 0.3s;
}

.game-regulations {
  width: 660px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.game-regulations__row {
  position: relative;
}
.game-regulations__descr {
  position: absolute;
  color: var(--font-color);
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}
.game-regulations__list {
  display: flex;
  align-items: center;
  margin: 0 48px;
}
.game-regulations__item {
  position: relative;
  height: 62px;
  width: 62px;
  margin: 0 5px;
}
.game-regulations__item img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.game {
  position: relative;
}
.game__title {
  margin: 0 0 25px 0;
}
.game__board {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 500px;
  background: linear-gradient(118.3deg, var(--board-color-1) -4.6%, var(--board-color-2) 200.44%);
  box-shadow: -8px -8px 20px #2a333d, 10px 7px 20px #475462;
  border-radius: 30px;
  overflow: hidden;
  cursor: url(sniper-shooting-target.svg) 8 8, auto;
}
.game__score-title {
  font-size: 52px;
  color: #fff;
  transition: 0.4s ease all 0s;
  transform: scale(0);
  opacity: 1;
}
.game__score-title.active {
  transform: scale(1);
  opacity: 1;
}
.game__score-title span {
  color: #4ff126;
}
.circle {
  position: absolute;
  border-radius: 50%;
  z-index: 2;
  overflow: hidden;
}
.circle img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}
.theme-changer {
  position: fixed;
  top: 50px;
  right: 50px;
}
.theme-changer__icon {
  color: #f7eb5e;
}
.material-icons {
}
@media (any-hover: hover) {
  .btn:hover {
    color: var(--hover-color);
  }
  .game-manu__time-btn:hover {
    border-color: var(--hover-color);
  }
}
